/* scale and fade */

.pt-page-scaleDown {
    animation: scaleDown .7s ease both;
}

.pt-page-scaleUp {
    animation: scaleUp .7s ease both;
}

.pt-page-scaleUpDown {
    animation: scaleUpDown .5s ease both;
}

.pt-page-scaleDownUp {
    animation: scaleDownUp .5s ease both;
}

.pt-page-scaleDownCenter {
    animation: scaleDownCenter .4s ease-in both;
}

.pt-page-scaleUpCenter {
    animation: scaleUpCenter .4s ease-out both;
}
/************ keyframes ************/

/* scale and fade */

@keyframes scaleDown {
    to { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUp {
    from { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUpDown {
    from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
    to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownCenter {
    to { opacity: 0; transform: scale(.7); }
}

@keyframes scaleUpCenter {
    from { opacity: 0; transform: scale(.7); }
}
@keyframes rotate-image-1 {
      100%{ transform: rotate(180deg)}
  }
@keyframes rotate-image-0 {
    100%{ transform: rotate(180deg)}
}