

/*
.timer {
    position: absolute;
    bottom: 0px;
    height: 60px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.timer .clock {
    width: 39px;
    height: 53px;
    margin-right: 10px;
    background: url(../images/footer-clock.png) no-repeat center 10px;
    float: left;
}
footer .inner .timer .time {
    float: left;
    color: white;
    font-family: "WWFRegular";
    position: relative;
}
.timer .time .value {
    height: 53px;
    line-height: 53px;
    font-size: 28px;
}
.time .label {
    font-size: 11px;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 21px;
}
.timer .time.div {
    width: 10px;
    height: 53px;
    line-height: 53px;
    background: url(../images/footer-timer-div.png) no-repeat center center;
    padding: 0 2px;
}
div {
    display: block;
}
!** FONTS **!
@font-face {
    font-family: 'WWFRegular';
    src: url('../fonts/wwf-webfont.eot');
    src: url('../fonts/wwf-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/wwf-webfont.woff') format('woff'),
    url('../fonts/wwf-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

.clock,.logo,.btn-holder{
    height: inherit;
}
.clock{
    padding: 2vh 0px;
}
.btn-holder{
    padding:  1.8vh 0;

}
.logo{
    background-image: url('../upload/awardssite/shell-tameer-logo%20-change.png');
    padding-top: 0.3%;
    height: 9vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid #58585B;
    position: fixed;
    top: 82.4vh;
    z-index: 1111;
    left: 50%;
}

#footer {
    padding:0vh 0vh;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    z-index: 11;
    width: 100%;
    background: #58585B;
    color: #f00;
    font-size: 3vh;
    line-height: 4vh;
    text-align: center;
}

#navbar {
    z-index: 100;
    position: fixed;
    top: 29vh;
    font-size: 2.3vh;
    line-height: 4vh;
    letter-spacing: .2vh;
    overflow: hidden;
    margin: 0 0 0.1vh;
}
#navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
#navbar ul li {
    margin: 0 0 0.3vh;
}
#navbar ul li.active a {
    background: #FFDD17;
    color: #58585B;
}
#navbar ul li a {
    display: inline-block;
    vertical-align: top;
    padding: .5vh 2.12vh .5vh;
    color: #eef7f8;
    text-decoration: none;
    background: #58585B;
}
#timer .text{
    font-size: 1.3vh; line-height: 0.5vh;
}