::-moz-selection {
    color: #fff;
    background: #000
}

::-webkit-selection {
    color: #fff;
    background: #000
}

select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #404040;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.hasDatepicker {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #404040;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#ntn-no {
    display: none;
}

::-o-selection {
    color: #fff;
    background: #000
}

::selection {
    color: #fff;
    background: #000
}

#bottom-row ::-moz-selection {
    color: #000;
    background: #fff
}

#bottom-row ::-webkit-selection {
    color: #000;
    background: #fff
}

#bottom-row ::-o-selection {
    color: #000;
    background: #fff
}

#bottom-row ::selection {
    color: #000;
    background: #fff
}

body, div, ul, li, h1, h2, h3, form, fieldset, legend, input, p {
    margin: 0;
    padding: 0
}

fieldset, img {
    border: 0
}

address, em, strong {
    font-style: normal;
    font-weight: normal
}

strong {
    font-style: normal;
    font-weight: bold
}

address:before, address:after {
    display: none;
    content: ''
}

h1 {
    font-family: ITCAVANTGARDESTD;
}

ol, ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

legend {
    color: #000
}

body, html {
    color: #000;
    background: #fff;
    width: 100%;
    height: 100%;
    font-family: Futura-medium, Arial;
}

body {
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 2.1vh;
}

.hidden {
    display: none;
}

.email {
    text-decoration: none;
    color: #000
}

#wrapper {
    /*    position: relative;
        top: 0;
        left: 0;*/
    height: 100vh;

}

.copy {
    position: absolute;
    z-index: 2;
    padding: 10px
}

#we-are-gathering h1 {
    text-align: right;
}

.copy h1 {
    margin-bottom: 0.7vh;
    color: #dd1d21;
    font-size: 4vh;
    line-height: 4vh;
    margin-left: 3vh;
    font-family: Futura-bold, Arial, serif;
}

.copy address, .copy p {
    text-align: left;
    margin: 0 0 .8vh 0;
    font-size: 2.1vh;
    line-height: 2.9vh;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;;
}

#we-are-gathering p {
    font-size: 2.1vh;
    text-align: right;
}

.copy address, #timeline-2003.copy p {
    margin: 0 0 0.8vh 0;
    font-size: 2vh;
    line-height: 2.9vh;
    text-align: center;
}

#we-are-gathering {
    transition: bottom ease 1s;
    position: absolute;
    margin: 0 0 -28vh 0;
    width: 70vh;
    bottom: 52vh;
    left: 125vh
}

#text-1 p, #text-2 p, #text-3 p, #text-4 p {
    margin-bottom: 0;

}

#text-1 {
    margin: 0 0 -28vh 0;
    width: 31vh;
    bottom: 71vh;
    z-index: 3 !important;
    left: 1369vh;
}

#text-2 {
    margin: 0 0 -28vh 0;
    width: 31vh;
    bottom: 97vh;
    left: 1359vh;
    z-index: 3 !important;
}

#text-3 {
    margin: 0 0 -28vh 0;
    width: 31vh;
    bottom: 76vh;
    left: 1290vh;
    z-index: 3 !important;
}

#text-4 {
    margin: 0 0 -28vh 0;
    width: 31vh;
    bottom: 62vh;
    z-index: 3 !important;
    left: 1303vh;
}

#judging-criteria > h1 {
    margin-left: 0;
    margin-bottom: 1.5vh;
}

#judging-criteria {
    margin: 0 0 -22vh 0;
    width: 74vh;
    bottom: 37vh;
    left: 806vh;
}

#sanwal-name {
    cursor: pointer;
    position: absolute;
    left: 9220px;
    width: 1.5%;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;;
    font-size: 14px;
    /* height: 150px; */
    bottom: 60%;
}

#sanwal-name > a {
    color: #58585B;
    text-decoration: none;
}

#timeline-2003 {
    margin: 0 0 -146px 0;
    width: 30vh;
    bottom: 65vh;
    left: 265vh
}

#timeline-2004 {
    margin: 0 0 -20vh 0;
    width: 51vh;
    bottom: 60vh;
    left: 329vh;
}

#judging-criteria-2016-01 {
    margin: 0 0 -20vh 0;
    width:  42vh;
    bottom: 43vh;
    left: 1224vh;
}

#timeline-2005 {
    margin: 0 0 12vh 0;
    width: 48vh;
    bottom: 47vh;
    left: 620vh;
}

#timeline-2008 p {
    text-align: center;
}

#timeline-2008 {
    margin: 0 0 -32vh 0;
    width: 73vh;
    bottom: 47vh;
    left: 688vh;
}

#timeline-2012 p {
    text-align: center;

}

#timeline-2012 {
    margin: 0 0 -19vh 0;
    width: 62vh;
    bottom: 72vh;
    left: 983vh;
}

#timeline-2014 p {
    text-align: center;

}

#timeline-2014 {
    margin: 0 0 -5vh 0;
    width: 43vh;
    bottom: 51vh;
    left: 1120vh;
}

#why-we-are-different {
    margin: 0 0 -14vh 0;
    width: 76vh;
    top: 4vh;
    left: 420vh;
    z-index: 3;

}

#elements img#line6-01 {
    margin: 0 0 -14vh 0;
    width: 174vh;
    bottom: 63vh;
    left: 454vh;
    z-index: 0;
}

#elements img#temp-1 {
    left: 470vh;
    bottom: 31vh;
    width: 109vh;
    display: none;
    opacity: .4;
}

#elements img#temp-2 {
    left: 477vh;
    bottom: 34vh;
    width: 106vh;
    display: none;
    opacity: .2;
}

#elements img#temp-3 {
    left: 486vh;
    bottom: 37vh;
    width: 93vh;
    display: none;
    opacity: .4;

}

#elements img#temp-4 {
    left: 493vh;
    bottom: 34vh;
    width: 75vh;
    display: none;
    opacity: .4;
}

#temp-1, #temp-2, #temp-3, #temp-4 {
    margin: 0 0 -14vh 0;

}

#elements img#doodles-01 {
    margin: 0 0 -14vh 0;
    width: 55vh;
    bottom: 26vh;
    left: 440vh;
    opacity: .8;
}

#elements img#yellow-splash-01-2 {
    margin: 0 0 -14vh 0;
    width: 179vh;
    bottom: 7vh;
    left: 406vh;
    opacity:.5;
}

#elements img#yellow-splash-01-5 {
    margin: 0 0 -14vh 0;
    width: 121vh;
    bottom: 12vh;
    left: 1300vh;
}

#what-we-do {
    margin: 0 0 -177px 0;
    width: 450px;
    bottom: 64%;
    left: 5300px
}

#join-us {
    margin: 0 0 -206px 0;
    width: 450px;
    bottom: 66%;
    left: 5500px
}

#contact-us {
    margin: 0 0 -245px;
    width: 400px;
    bottom: 94%;
    left: 6590px
}

.copy p.contact-logo {
    margin: 10px 0 0 0
}

#balloon {
    position: absolute;
    left: 2350px;
    top: 100%;
    z-index: 0
}

#ninjas {
    position: absolute;
    bottom: 250px;
    left: 7330px;
    width: 59px;
    height: 85px
}

#elements {
    position: relative;
    top: 0;
    left: 0;
    height: 100%
}

#elements div {
    float: left
}

#elements img {
    position: absolute;
    top: auto !important;
    right: auto !important;
    bottom: 37px;
    left: 0;
    z-index: 2;
    display: block
}

#elements img#logo {
    left: -30px
}

#elements img#dude_dog {
    left: 107vh;
    width: 19vh;
    /* height: 150px; */
    bottom: 17vh;
    transform: rotate(-24deg);
}

#timer img {
    width: 1.2vh;
}

#elements img#tl-1 {
    left: 128vh;
    width: 106vh;
    /* height: 150px; */
    bottom: 15vh;
}

#elements img#tlv1-2003 {
    left: 220vh;
    width: 46.5vh;
    /* height: 150px; */
    bottom: 25vh;
}

#elements img#winner-01 {
    left: 255vh;
    width: 13vh;
    /* height: 150px; */
    bottom: 23%;
    transform: rotate(0deg);
}

#elements img#tlv-01-01 {
    left: 1562px;
    width: 1.5%;
    /* height: 150px; */
    bottom: 49%;

}

#winner-name {
    position: absolute;
    left: 250vh;
    width: 40vh;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;;
    font-size: 2.1vh;
    /* height: 150px; */
    bottom: 18vh;
    transform: rotate(0deg);
}

#winner-name-2 {
    position: absolute;
    left: 344vh;
    width: 40vh;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;;
    font-size: 2.1vh;
    /* height: 150px; */
    bottom: 26vh;
    transform: rotate(0deg);
}

#elements img#winner-02 {
    left: 347vh;
    width: 13vh;
    /* height: 150px; */
    bottom: 31vh;
    transform: rotate(0deg);
}

#elements img#tlv1-02 {
    left: 255vh;
    width: 122vh;
    /* height: 150px; */
    bottom: 30vh;
}

#timeline-2004 p {
    text-align: center;
}

#elements img#tlv1-2004 {
    left: 331vh;
    width: 61vh;
    /* height: 150px; */
    bottom: 55vh;
}

#elements img#tl1-023 {
    left: 365vh;
    width: 59vh;
    transform: rotate(-6deg);
    /* height: 150px; */
    bottom: 77vh;
    z-index: 0;
}

#elements img#tl2-06-07-01 {
    left: 604vh;
    width: 56vh;
    /* height: 150px; */
    bottom: 24vh;
}
#elements img#box-2003 {
    left: 261vh;
    width: 38vh;
    /* height: 150px; */
    bottom: 43vh;
    opacity: 0.2;
}
#elements img#box-2004 {
    transform: rotate(3deg);
    left: 324vh;
    width: 64vh;
    /* height: 150px; */
    bottom: 39.3vh;
    opacity: 0.2;
}
#elements img#box-2012 {
    left: 978vh;
    width: 74vh;
    /* height: 150px; */
    bottom: 51.3vh;
    opacity: 0.2;
}
#elements img#box-2005 {
    left: 613vh;
    width: 61vh;
    /* height: 150px; */
    bottom: 58vh;
    opacity: 0.2;
}
#elements img#box-2008 {
    left: 683vh;
    width: 86vh;
    /* height: 150px; */
    bottom: 13vh;
    opacity: 0.2;
}
#elements img#box-2014 {
    left: 1114vh;
    width: 55vh;
    /* height: 150px; */
    bottom: 42vh;
    opacity: 0.2;
}

#elements img#winner-2005 {
    left: 623vh;
    width: 13vh;
    /* height: 150px; */
    bottom: 18vh;
}

#winner-name-2005 {
    position: absolute;
    left: 616vh;
    width: 40vh;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;
    font-size: 2.1vh;
    /* height: 150px; */
    bottom: 14vh;
    transform: rotate(0deg);
}

#winner-name-2012 {
    position: absolute;
    left: 1033vh;
    width: 40vh;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;
    font-size: 2.1vh;
    /* height: 150px; */
    bottom: 15vh;
    transform: rotate(0deg);
}

#winner-name-2014 {
    text-align: center;
    position: absolute;
    left: 1080vh;
    width: 40vh;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;
    font-size: 2.1vh;
    /* height: 150px; */
    bottom: 20vh;
    transform: rotate(0deg);
}

#elements img#winner-2008 {
    left: 746vh;
    width: 13vh;
    /* height: 150px; */
    bottom: 47vh;

}

#elements img#winner-2012 {
    left: 1036vh;
    width: 13vh;
    /* height: 150px; */
    bottom: 20vh;
}

#elements img#winner-2014 {
    left: 1094vh;
    width: 13vh;
    /* height: 150px; */
    bottom: 33vh;
}

#winner-name-2008 {
    position: absolute;
    left: 744vh;
    width: 40vh;
    color: #58585B;
    font-family: Futura-medium, Arial, serif;
    font-size: 2.1vh;
    /* height: 150px; */
    bottom: 40.4vh;
    transform: rotate(0deg);
}

#elements img#timeline-01-200 {
    left: 607vh;
    width: 56vh;
    /* height: 150px; */
    bottom: 23vh;
}

#elements img#timeline-01-2008 {
    left: 691vh;
    width: 60vh;
    /* height: 150px; */
    bottom: 37vh;
}

#elements img#lasttimelinefor2008-01 {
    left: 731vh;
    width: 67vh;
    /* height: 150px; */
    bottom: 53vh;
}

#elements img#line11-01 {
    left: 788vh;
    width: 150vh;
    /* height: 150px; */
    bottom: 35.10vh;
}

#elements img#man-writing-01-01 {
    left: 822vh;
    width: 50vh;
    /* height: 150px; */
    bottom: 50.2vh;
}

#timeline-2005 p {
    text-align: center;
}

#elements img#pattern-splash-01 {
    left: 650vh;
    width: 156vh;
    /* height: 150px; */
    bottom: 5vh;
    opacity: .15;
}

#elements img#tl2-06-01 {
    left: 646vh;
    width: 57vh;
    /* height: 150px; */
    bottom: 34vh;
}

#elements img#line11-02 {
    left: 936vh;
    width: 274vh;
    /* height: 150px; */
    bottom: 21.2vh;
}

#elements img#untitled-1-01 {
    left: 882vh;
    width: 68vh;
    bottom: 28vh;
}

#elements img#splash-01-01 {
    left: 1005vh;
    width: 154vh;
    bottom: 16vh;
    opacity: .07;
}

#elements img#zz-01 {
    left: 1086vh;
    width: 58vh;
    bottom: 31vh;
    opacity: .07;
}

#elements img#untitled-2012-01 {
    left: 983vh;
    width: 82vh;
    bottom: 15vh;
}

#elements img#untitled-2016-01 {
    left: 1197vh;
    width: 27vh;
    bottom: 66vh;
}

#elements img#doodles-01-01 {
    left: 1246vh;
    width: 70vh;
    bottom: 36vh;
    opacity: .05;
}

#elements img#timeline-01-01 {
    left: 1246vh;
    width: 70vh;
    bottom: 36vh;

}

#elements img#collage-01-01 {
    left: 1300vh;
    width: 75vh;
    bottom: 37vh;
}

#elements img#line-last {
    left: 1217vh;
    width: 150vh;
    bottom: 12vh;
}

#elements img#plane-01 {
    left: 1058vh;
    width: 63vh;
    bottom: 39vh;
}

#elements img#splash-01 {
    left: 858vh;
    width: 84vh;
    bottom: -4vh;
}

#elements img#splash1-02 {
    left: 307vh;
    width: 57vh;
    bottom: 24vh;
}

#elements img#pattern1-01 {
    left: 220vh;
    width: 50vh;
    /* height: 150px; */
    bottom: 45%;
    opacity: .1;
}

#elements img#blimp {
    /*   position: fixed;*/
    bottom: 30vh;
    left: 47vh;
    width: 55vh;
}

#elements img#home-bg-01 {
    bottom: 17vh;
    left: 15vh;
    width: 123vh;
    opacity: .3;
}

.panel-row {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
}

#top-row {
    z-index: 1;
    height: inherit;
}

.clock-img {
    padding-top: 0.3vh;
    width: 12%;
    height: 5vh;
    background-position: center;
    background-image: url(../upload/awardssite/clock-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 8px;
}

#navbar li a.active {
    background-color: #FFDD17;
    color: #58585B;
}

#footer li {
    float: left;
    margin: 0 0.9%;
    color: white;
}

#footer li a {
    display: block;
    padding: 10px 0 0 0;
    height: 30px;
    font-size: 14px;
    line-height: 22px;
    color: #b5b5b5;
    text-decoration: none;
    text-transform: uppercase
}

#nav .logos {
    float: right;
    margin: 0 10px 0 0
}

#nav .logos img {
    vertical-align: bottom
}

@media (max-height: 700px) {
    img#logo {
        height: 100%;
        width: auto;
    }
}

#personal-information {
    display: none;
}

#contact-information {
    display: none;
}

#business-information {
    display: none;
}

#about-business {
    display: none;
}

#category-selection-sub {
    display: none;
}

#registration-no {
    display: none;
}

#legal-status {
    display: none;
}

#education_other {
    display: none;
}
.displayblock{
    display: block !important;
}
#elements img#blimp2 {
    /* position: fixed; */
    bottom: 18vh;
    left: 31.1vh;
    width: 100vh;
    transform: rotate(36deg);
}
/*
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
}*/
.halfwidth {
    /*    width: 39.5%;
        float: left;
        padding-right: 1em;*/
}

.accordion {
    margin: 0px;
}

.accordion dt, .accordion dd {

    background-position: -2vh -3vh;
    background-size: 45vh 13vh;
    padding: 2.5vh 2.4vh;
    font-size: 2vh;
    font-family: Futura-medium, Arial, serif;
    color: #58585B;
    margin-left: 0;
    border-bottom: 0;

}

.accordion a {

}

.accordion dt:last-of-type, .accordion dd:last-of-type {

}

.accordion dt a, .accordion dd a {
    display: block;
    color: #58585B;
    font-weight: bold;
    text-decoration: none;
}

.accordion dd {
    border-top: 0;
    padding: 6px 21px;
    font-size: 12px;
}

.accordion dd:last-of-type {
    border-top: 1px solid white;
    position: relative;
    top: -1px;
}

@font-face {
    font-family: Futura-medium;
    src: url(../fonts/futurastdook.otf);
}

@font-face {
    font-family: Futura-medium;
    src: url(../fonts/fu_medium.TTF);
}
@font-face {
    font-family: Futura-bold;
    src: url(../fonts/fu_bold.TTF);
}

@font-face {
    font-family: FUTURASTD-CONDENSEDBOLD;
    src: url(../fonts/futurastd_condensed_bold.otf);
}

@font-face {
    font-family: ITCAVANTGARDESTD;
    src: url(../fonts/itcavantgardestd_demi.otf);
}

dl dt {
    background-repeat: no-repeat;
}

