body {
    position: relative;
}

@font-face {
    font-family: Future-Std;
    src: url('../../../fonts/futurastdook.otf');
}

@font-face {
    font-family: FUTURASTD-CONDENSEDBOLD;
    src: url('../../../fonts/futurastd_condensed_bold.otf');
}

@font-face {
    font-family: ITCAVANTGARDESTD;
    src: url('../../../fonts/itcavantgardestd_demi.otf');
}

.navbar-brand > img {
    display: inline-block;
    width: auto;
}

.navbar-inverse .navbar-brand {
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;
}

.starter-template {
    padding: 60px 15px 0px 15px;
    text-align: center;
}

#home .welcome-text h1 {
    font-family: FUTURASTD-CONDENSEDBOLD;
    font-size: 2em;
}

#home .welcome-text p {
    font-family: Future-Std;
}

#awards-category #accordion .accordion {
    margin: 0px;
}

#awards-category #accordion .accordion dt, .accordion dd {
    background-position: 86% 53.2%;
    background-size: 104.5% 168.5%;
    padding: 7.2% 11.2%;
    font-size: 97%;
    font-family: Future-Std, Arial, serif;
    color: #58585B;
    margin-left: 0;
    border-bottom: 0;
    width: 100%;
    display: inline-block;
}

#awards-category #accordion .accordion dd {
    border-top: 0;
    padding: 6px 21px;
    font-size: 12px;
}

#awards-category #accordion p {
    text-align: left;
    margin: 0 0 .8em 0;
    font-size: 1.2em;
    line-height: 1.9em;
    color: #58585B;
    font-family: Future-Std, Arial, serif;
}

#awards-category #accordion a {
}

#awards-category .heading h1 {
    margin-bottom: 0;
    color: #000;
    font-size: 2em;
    padding-top: 2em;
    margin-left: 0;
    font-family: FUTURASTD-CONDENSEDBOLD, Arial, serif;
    text-align: center;
}

#awards-category #accordion dl dt {
    background-repeat: no-repeat;
}

#awards-category {
    margin-top: 15px;
}

#judging-process {
    margin-top: 15px;
}

#judging-process .heading h1 {
    font-family: FUTURASTD-CONDENSEDBOLD;
    font-size: 2em;
    text-align: center;
    padding-top: 2.5em;
}

#judging-process .container p {
    font-family: Future-Std;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-content {
    position: relative;
    background-color: #FFDD17;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

#eligibility-criteria .heading h1 {
    font-family: FUTURASTD-CONDENSEDBOLD;
    font-size: 2em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2.5em;
}

#eligibility-criteria .container p {
    font-family: Future-Std;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#modal-judging-process {
    padding-right: 0 !important;
}

.navbar-inverse {
    background-color: #58585B;
}

.eligibility-img {
    text-align: center;
}

.eligibility-img img {
    display: inline-block;
}

#eligibility-criteria .container {
    padding-top: 15px;
}

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #FFDD17;
    color: #58585B;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

.welcome-text {
    padding-left: 10px;
    padding-right: 10px;
}

#back-to-top:hover {
    background: #58585B;
    color: #FFDD17;
}

#back-to-top.show {
    opacity: 1;
}

.navbar-inverse .navbar-toggle {
    border-color: #FFDD17;
    background-color: #FFDD17;
    border-radius: 0;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #FFDD17;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #58585B;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFDD17;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFDD17;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

#personal-information {
    display: none;
}

#contact-information {
    display: none;
}

#business-information {
    display: none;
}

#about-business {
    display: none;
}

#category-selection-sub {
    display: none;
}

#registration-no {
    display: none;
}

#legal-status {
    display: none;
}

#education_other {
    display: none;
}

#work_projects_other {
    display: none;
}

#working_days_other {
    display: none;
}

#ntn-no {
    display: none;
}

#awards-form #myModal {
    padding-right: 0 !important;
}

#awards-form .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal {
    -webkit-overflow-scrolling: auto;
}

#awards-form .btn-default {
    color: #333;
    background-color: #FFDD17;
    border-color: #FFDD17;
    padding: 6px 40px;
    text-transform: uppercase;
    font-weight: bold;
}

#awards-form .apply-now-btn {
    text-align: center;
}

#awards-form {
    padding-top: 15px;
    padding-bottom: 15px;
}

#awards-form .note {
    text-align: center;
    background-color: red;
    display: inline-block;
    color: #fff;
    padding: 2px;
}

#awards-form select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #404040;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#awards-form .hasDatepicker {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #404040;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#awards-form .FormSubmitButton {
    color: #080808;
    background-color: #FFDD17;
    border-color: #FFDD17;
    border: none;
    padding: 6px 12px;
}

#awards-form .modal-footer {
    padding: 15px;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}

#awards-form .errorMessage {
    text-align: center;
    background-color: red;
    display: inline-block;
    float: right;
    margin-right: 4.4%;
    color: #fff;
    padding: 2px;
    margin-left: 4.4%;
}

#awards-form h2 {
    font-family: FUTURASTD-CONDENSEDBOLD;
    font-size: 2em;
}

#awards-form label {
    font-family: Future-Std;
    font-size: 13px;
}

#awards-form select {
    font-family: Future-Std;
    font-size: 13px;
}

#awards-form input {
    font-family: Future-Std;
    font-size: 13px;
}

.navbar-inverse {
    background-color: #58585B;
    border-color: transparent;
}

.welcome-img {
    margin-top: 35px;
    padding-bottom: 35px;
}

