@font-face {
    font-family: OpenSans-Regular-webfont;
    src: url('../fonts/OpenSans-Regular-webfont.ttf'), url('../fonts/OpenSans-Regular-webfont.woff');
}

@font-face {
    font-family: OpenSans-Light-webfont;
    src: url('../fonts/OpenSans-Light-webfont.ttf'), url('../fonts/OpenSans-Light-webfont.woff');
}

@font-face {
    font-family: OpenSans-Bold-webfont;
    src: url('../fonts/OpenSans-Bold-webfont.ttf'), url('../fonts/OpenSans-Bold-webfont.woff');
}

/*Poppins Font*/
@font-face {
    font-family: Poppins-Black ;
    src: url('../fonts/poppins/Poppins-Black.otf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.otf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/poppins/Poppins-Light.otf');
}

@font-face {
    font-family: Poppins-Medium ;
    src: url('../fonts/poppins/Poppins-Medium.otf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.otf');
}

@font-face {
    font-family: Poppins-Thin;
    src: url('../fonts/poppins/Poppins-Thin.otf');
}

/*Poppins Font*/
#addtobasket {
    display: none;
}

.dishproperty {
    height: 32px !important;
    box-shadow: 2px 2px 14px -1px #9e9e9e inset !important;
    width: 240px !important;
    border: 0px solid #FFFFFF !important;
}

h3 {
    font-family: OpenSans-Light-webfont;
    letter-spacing: .04em;
}

input[type=submit] {
    border-radius: 0 !important;
}

label {
    font-weight: normal;
}

.navbar-nav {
    margin: 23.5px 0px;
    float: right;
}

.navbar-collapse {
    /*
    This limits the height of the collapsed toolbar so it scrolls on smaller screens
      max-height:200px;

    */
}

.affix-bottom {
    position: relative
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

.dishproperties {
    /*display: none;*/
}

.delblock {
    width: 47%;
    float: left;
    border-radius: 4px;
    margin: 2px;
}

.rowrollover:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.p {
    margin: 0 0 0 0;
}

.navbar {
    margin-bottom: 0px;
}

.bordertopbot {
    border-top: 1px solid #d6d6d6;
    padding: 5px 0 10px 0;
}

.bordertop {
    border-top: 1px solid #d6d6d6;
    padding-top: 10px !important;
    margin-top: -18px;
}

.borderbottom {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btngreen {
    background-color: #49cb29;
}

.shopwrapper {
    padding: 20px;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 10px;
}

.hidepanel {
    display: none;
}

.headerbox {
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.toppad5 {
    padding-top: 5px;
}

.toppad20 {
    padding-top: 20px;
}

.panel-heading {

    padding: 10px 10px;
    border-bottom: 0px solid transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #60B49D;
}

.nav-pills > li > a {
    border-radius: 0px;
    background-color: transparent;
    color: #000;
    padding: 10px 10px;
    font-family: Poppins-Regular;
    letter-spacing: .04em;
}

.margin20 {
    margin: 20px 0 20px 0;

}

.product100w {
    width: 100%;
    float: left;
}

.product90w {
    width: 90%;
    float: left;
}

.product80w {
    width: 80%;
    float: left;
}

.product50w {

}

.product40w {
    width: 40%;
    float: left;
    min-height: 10px;
}

.product30w {
    width: 30%;
    float: left;
}

.leftpad20 {
    padding-left: 20px;
}

.product20w {

    float: left;
}

.product10w {
    width: 10%;
    float: left;
}

.toppad15 {
    padding-top: 15px;
}

.toppad10 {
    padding-top: 10px;
}

.bottompad10 {
    padding-bottom: 10px;
}

.rightpad10 {
    padding-right: 10px;
}

.navmobile {
    display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
    .navmobile {
        display: inline-block;
        width: 100%;
    }

    .navdesktop {
        display: none;
    }

    .headerbox {
        padding: 10px;
        margin: 0px;
        border-width: 0px;
        background-color: #fff;
    }

}

@media (max-width: 768px) {

    .mobilebutton {
        float: right;
        margin-right: 20px;
    }

    .mobilefloat {
        clear: both;
        margin-left: 19px;
        margin-top: 20px;
        width: 90%;
    }

    #wholepage {

    }

    .headerbox {
        padding: 10px;
        margin: 0px;
        border-width: 0px;
        background-color: #fff;
    }

    .navmobile {
        display: inline-block;
        width: 100%;
    }

    .navdesktop {
        display: none;
    }

}

@media (min-width: 769px) {

    .hidden-xs {
        display: inline !important;
    }

}

.datepicker {
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.menu-box {
    padding: 5px 0px;
    margin: 5px 0px;
    padding: 10px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #333333;
    background: #fff;
    background-color: #fff;
    border: 4px solid #E9EAEB;
}

h2 {
    line-height: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 20px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.menu-box h2 {
    border-bottom: 1px dotted #cccccc;
    padding: 0;
    margin: 5px 12px 10px 5px;
    font-size: 20px;
}

.menu-box ol {
    display: block;
    padding-left: 10px;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.affix {
    position: fixed;
    top: 20px;
    width: 262px;
}

.menu-box ol li {
    list-style-type: none;
    min-height: 20px;
    padding: 3px 0 3px 0;
    margin-bottom: 3px;
    display: list-item;
}

.menu-box ol li a {
    color: #000;
}

.menuHeading {
    color: #ed1c24;
    padding: 0;
    margin: 30px 0px 10px 5px;
    font-size: 18px;
    font-family: Bitter, serif;
    font-weight: bold;
}

.headerMargin {
    margin-top: 15px;
    padding-left: 5px;
}

.shop-name a {
    font-weight: bold;
    color: #000;
    font-size: 22px;
}

.fmo-std-block {
    font-size: 14px;
    text-align: left;
    color: #333333;
    background: #fff;
    background-color: #fff;
    border: 4px solid #E9EAEB;
}

#updateFullPostcodeSubmit {

}

.text-centered {
    text-align: center;
}

#updateFullPostcode #validate_pc {

}

#validate_pc {

}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*.dow {
      border-top: 1px solid #ddd !important;
    }*/

}

.datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}

.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.datepicker > div {
    display: none;
}

.datepicker table {
    width: 100%;
    margin: 0;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}

.datepicker td.day.disabled {
    color: #eeeeee;
}

.datepicker td.old,
.datepicker td.new {
    color: #999999;
}

.datepicker td.active,
.datepicker td.active:hover {
    color: #ffffff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0044cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
    background-color: #003399 \9;
}

.datepicker td span {
    display: block;
    width: 47px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datepicker td span:hover {
    background: #eeeeee;
}

.datepicker td span.active {
    color: #ffffff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0044cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.datepicker td span.active:active,
.datepicker td span.active.active {
    background-color: #003399 \9;
}

.datepicker td span.old {
    color: #999999;
}

.datepicker th.switch {
    width: 145px;
}

.datepicker th.next,
.datepicker th.prev {
    font-size: 21px;
}

.datepicker thead tr:first-child th {
    cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
    background: #eeeeee;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.shop-details-wrapper {
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

.shop-details-top {
    border-bottom: solid 1px #c8c8c8;
    height: 138px;
}

.shop-delivery-info {
    padding-left: 5px;
}

.fmo-std-block {
    padding: 5px 0px;
    margin: 5px 0px;
    padding: 10px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #333333;
    background: #fff;
    background-color: #fff;
    border: 4px solid #E9EAEB;
}

/*.btn-success {
    padding: 5px 8px 5px 8px;
}*/
.btn-success {
    border: none;
}

.shop-icon {
    height: 100px;
    width: 100px;
}

.delivery-details {
    font-weight: bold;
}

.shop-icon, .shop-icon-mobile, .shop-info, .shop-hours, .shop-more-info, .shop-delivery-info {
    float: left;
}

.shop-misc {
    width: 100px;
}

.shop-hours, .shop-more-info {
    border-right: solid 1px #c8c8c8;
    padding-right: 10px;
}

.shop-details-bottom {
    padding: 10px 0px;
}

.shop-name a {
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

.mybtn:hover {
    transition: background-color 0.5s ease;
    background-color: #ccc;
}

.mybtn {
    display: inline-block;
    margin-bottom: 0;
    color: white;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    background-color: #60B49D;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: white;
    background-color: #60B49D;
    border-color: #60B49D;
}

.btn-success {

    color: white;
    background-color: #60B49D;
    border-color: #60B49D;
}

.myBtnSuccess {
    box-shadow: 1px 3px 9px -1px;
    border-radius: 20px;

}

.myBtnSuccess:hover {
    box-shadow: 1px 3px 9px -1px;
    border-radius: 20px;
}

.panel-primary {
    border-color: #60B49D;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #60B49D;
    border-color: #60B49D;
}
.navbar-default .navbar-brand{
    padding: 12px 15px;
}
@media (min-width: 992px) {
    .navbar-nav>li {
        float: left;
        padding: 1rem !important;
    }
    .navbar .container {
        width: 1220px;
    }

    .container#wholepage {
        width: 1220px;
    }

    .nav-stacked > li {
        float: left;
        border-bottom: 3px solid #cccccc;
    }

    #categories.col-md-12 .affix {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    #categories.col-md-12 .affix li {

    }

    #categories.col-md-12 .affix li a {
        color: #000;
        background-color: #60B49D
    }

    #categories.col-md-12 .affix-top {
        background-color: #60B49D
    }

    .nav-stacked > li + li {
        margin-top: 0;
    }

    .pl-0 {
        padding-left: 0 !important;
    }

    .pr-0 {
        padding-right: 0 !important;
    }

    .pr-45 {
        padding-right: 45px !important;
    }

    .pr-95 {
        padding-right: 95px !important;
    }

    .p-0 {
        padding: 0 !important;
    }

    .mt-10 {
        margin-top: 10px !important;
    }

    .cart-td {
        font-size: 12px;
    }

    .min-h-500 {
        min-height: 585px;
      /*  min-height: 500px;*/
    }

    p.item-description {
        font-size: 13px;
        padding-right: 20%;
    }

    .category-items:nth-child(odd) {
        padding-right: 0;
    }

    .category-items:nth-child(even) {
        padding-right: 0;
    }

}

@media (max-width: 991px) {
    .p-sm-0 {
        padding: 0 !important;
    }

    .myBtnSuccess {
        border-radius: 20px;
        padding: 0;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 0.8;
        vertical-align: top;
    }

    .myBtnSuccess span {
        top: -1px;
        position: relative;
    }
}

.dotted-hr {
    border: none;
    border-top: 2px dotted #333;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.color-green {
    color: #60B49D;
}

h4.cat-name {
    font-family: Poppins-Light;
    font-size: 24px;
    letter-spacing: .04em;
}

span.item-name {
    font-family: Poppins-Bold;
    letter-spacing: .04em;
}

span.item-price {
    font-family: Poppins-Light;
    letter-spacing: .04em;
}

h5.addons-heading {
    font-family: Poppins-Bold;
    letter-spacing: .04em;
}

div.addons-items {
    font-family: Poppins-Light;
    letter-spacing: .04em;
    font-size: 13px;
}

div.addons-items-details {
    font-family: Poppins-Light;
    letter-spacing: .04em;
}

p {
    font-family: Poppins-Light;
    letter-spacing: .04em;
}

h3 {
    font-family: Poppins-Regular;
    letter-spacing: .04em;
}

table td {
    font-family: Poppins-Light;
    letter-spacing: .04em;
}

.total-heading {
    font-family: Poppins-Bold;
    letter-spacing: .04em;
}

.total-price {
    font-family: Poppins-Bold;
    letter-spacing: .04em;
}

.btn {
    font-family: Poppins-Light;
    letter-spacing: .04em;
    border-radius: 0;
}

.order-action-type {
    font-family: Poppins-Light;
    letter-spacing: .04em;
}

.panel {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.active-nav {
    color: #000;
    border-bottom: 3px solid;
}

.pb-15 {
    padding-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.lh-1-8 {
    line-height: 1.8;
}

ul li {
    font-family: Poppins-Light;
    letter-spacing: .04em;
}

/*Radio*/

.addons-items label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.order-action-type label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.order-action-type input {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.addons-items input {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.outside {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 60%;
    margin-top: -10px;
    width: 14px;
    height: 14px;
    border: 2px solid #60B49D;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
}

.inside {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #60B49D;
    left: 2px;
    top: 2px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
}

.no-transforms .inside {
    left: auto;
    top: auto;
    width: 0;
    height: 0;
}

input {
    /*  &:focus, &:active {
          + .outside {
            border-color: $almost-black;
          }
        }*/
}

input:checked + .outside .inside {
    -webkit-animation: radio-select 0.1s linear;
    animation: radio-select 0.1s linear;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.no-transforms input:checked + .outside .inside {
    width: 10px;
    height: 10px;
}

/*Radio*/

