.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -61px;
}

.page-wrap:after {
    content: "";
    display: block;
}


.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 40px;
    width: auto;
}

footer {
    padding: 10px 0;
    background-color: #2D343E;
}

footer p {
    padding-top: 10px;
}

.col-right .row input[type="text"]{
    width: 95%;
    float: left;

  /*  min-height: 1px;*/
    margin-left: 30px;
}



.row label{
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    float: left;
    margin-left: 30px;
}

.col-right h4{
    text-align: left;
}

.row .buttons input[type="submit"]{

    color: #ffffff;
    background-color: #51a351;
    float: right;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}