@font-face {
    font-family: poppins;
    src: url('../fonts/poppins.ttf');
}

h1, h2, h3, h4, h5, h6, p, span, label, small, button {
    font-family: poppins, serif !important;
}

ul.header1 a {
    font-family: poppins, serif;
    font-size: 18px;
}

.font-11 {
    font-size: 11px !important;
}

ul.header1 a.active {
    color: #60B49D;
}

div.tab-pane div p {
    font-family: poppins, serif;
}

nav.navbar.fixed-top {
    max-height: 100%;
    overflow-y: auto;
}

@media (min-width: 992px) {
    nav.navbar.fixed-top {
        overflow-y: visible;
    }

}

@media (min-width: 992px) {

    body {
        overflow: hidden;
    }

    .h-100vh {
        height: 100vh;
    }

    .right-img-grid {
        position: absolute;
        right: 0;
    }

    .home-left .owl-nav {
        width: 100%;
        position: absolute;
        bottom: 40%;
    }

    .home-left .owl-nav .owl-prev {
        right: 10%;
        position: relative;
        float: right;
    }

    .home-left .owl-nav .owl-next {
        right: -3%;
        position: relative;
        float: right;
    }

}

/*about*/
div.about h1 {
    font-size: 40px;
    font-family: poppins, serif;
}

div.about p {
    font-size: 13px;
    color: gray;
}

/*cold*/
div.juices p {
    font-size: 13px;
    color: gray;
}

div.juices {
    margin-top: 50px;
}

div.juices h1 {
    font-size: 38px;
}

img.img-sidders {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 999;

}

img.img-sidders-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;

}

.color-green {
    color: #60B49D !important;
}

.fixed-top {
    box-shadow: 0px 2px 4px #888888
}

.navbar-dark .navbar-toggler {
    color: #60B49D;
    border-color: #60B49D;
    background-color: #60B49D;

}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(82, 86, 89);
    font-weight: bold;
}

.nav-link {
    text-transform: uppercase;
}

.abouttextspace p {

    margin-top: 10px;
}

.active {
    color: #60B49D !important;
}

div.consultation .active {
    color: #ffffff !important;
}

div.consultation ul li a button {
    background-color: #60B49D;
}

div.consultation ul li a button.activer {
    background-color: gray;
}

.activer {
    background-color: #444444;
}

button.buttonsetter {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #60B49D;
    display: block;
    margin: 20px 0px;
    color: #60B49D;
}
a.buttonsetter {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #60B49D;
    display: block;
    margin: 20px 0px;
    color: #60B49D !important;
}

div.contactdisplayer {
    display: block;
    margin: 0px 40px;

}

div.contactdisplayer label {

    color: #4e555b;

}

/*div.carousel-item p{*/
/*color: #4e555b !important;*/
/*}*/

div.studiocset p {
    text-align: center;
    font-size: 10px;
    color: #4e555b !important;
}

div.studiocset {

    display: block;
    margin: auto;
    padding: 10px;

}

.nav li button {
    padding-left: 20px;

}

div.studiocset img {
    width: 100%;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #727172;
    border-color: #727172;
    color: #FFFFFF !important;
}

.nav-tabs .nav-link {
    background-color: #54BEBD;
    border-color: #54BEBD;
    color: #FFFFFF !important;
    border-radius: 0% !important;
    margin: 15px;
    /*content: '';*/
    /*background-image: url(../assets/arrowdown.png);*/
    /*background-repeat: no-repeat;*/
    /*background-image-position: absoulte;*/

}

div.consultation .nav-tabs .nav-link:hover {
    color: #FFFFFF;
}

div.consultation p {
    font-size: 15px;
}

.tabActive {
    background-color: #444444;
    color: #FFFFFF;
}

/* Table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: white;
}

.modelset h1 {
    color: #60B49D;
    text-align: justify;

}

.modelset h5 {
    text-align: justify;
}

/*consultation */

div.consultation .one ul.nav > li {
    margin-left: 4px !important;

}

div.consultation .nav-tabs .nav-link {
    width: auto;
    height: 35px;
    margin: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    min-width: 109px;
}

.mealplan_left::-webkit-scrollbar {
    width: 10px;
}

.mealplan_left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mealplan_left::-webkit-scrollbar-thumb {
    background-color: #60B49D;
    outline: 1px solid slategrey;
}

.mealplan_right::-webkit-scrollbar {
    width: 10px;
}

.mealplan_right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mealplan_right::-webkit-scrollbar-thumb {
    background-color: #60B49D;
    outline: 1px solid slategrey;
}

div.consultation .one ul.nav li a button.activer {

    background-color: dimgrey;
    color: white;

}

div.headers a.nav-link .active {
    /*background-color: #444444 !important;*/
    color: #60B49D !important;
}

div.headers a.nav-link:hover {
    /*background-color: #444444 !important;*/
    color: #60B49D !important;
}

button.cls.btn.btn-block {
    background: #60B49D !important;
}

/*Studio*/

div.scheduleheader {
    display: flex;
    margin: auto;
    text-align: center;
}

div.borderr {
    border-bottom: 2px solid #60B49D;
}

div.scheduling table td a {
    text-decoration: none;
    color: white;
}

div.scheduler h6 {
    color: #4e555b;
}

div.scheduling table tr.trh th {
    color: #FFFFFF;
}

.studioCarousel .owl-nav button.owl-next {

    position: absolute;
    right: 45px;
    top: 90px;

}

.studioCarousel .owl-nav button.owl-next img {
    width: 50px;

}

.btn-outline-green {
    color: #60B49D;
    background-color: transparent;
    background-image: none;
    border-color: #60B49D;
}

.studioCarousel .owl-nav button.owl-prev img {
    width: 50px;

}

.studioCarousel .owl-nav button.owl-prev {

    position: absolute;
    left: 10px;
    top: 90px;
    z-index: 999;

}
.modal-content{
    display: inline-block;
}
#accordion .card-body {
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor: -moz-grab; /* Firefox 1.5-26 */
    cursor: grab; /* W3C standards syntax, should come least */
}

.right-img-grid {
    position: absolute;
    right: 0;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 5px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    line-height: 1.42857;
}

/*screen res*/

@media (min-width: 992px) {
    .footer-social {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%;
        padding: 5px;
        background-color: #60B49D;
    }

    body {
        overflow: hidden;
    }

    div.chat {
        height: 100vh;
        width: 100%;
    }

    .right-img-grid {
        position: absolute;
        right: 0;
        top: -32%;
    }

    .home-right .owl-nav {
        width: 100%;
        position: absolute;
        bottom: 40%;
    }

    .home-right .owl-nav .owl-prev {
        right: 10%;
        position: fixed;
        bottom: 10%;
        float: right;
    }

    .home-right .owl-nav .owl-next {
        right: -3%;
        position: fixed;
        bottom: 10%;
        float: right;
    }

    button.owl-next img {
        width: 60px;
    }

    button.owl-prev img {
        width: 60px;
    }

    button.buttonsetterfoodservice {
        width: 50px;
        height: 40px;
        border-radius: 20px;
        border: 2px solid #60B49D;
        display: block;
        margin: auto;
        padding: 0px 1px;
        color: #60B49D;
        text-align: center;
        background-color: white;
    }

}

div #el {
    position: relative;
}

div #element1 {
    position: absolute;
    top: 0;
    left: 0;
}

/*foodservice*/

div.foodservice ul.nav > li {
    margin-left: 2px !important;
    padding: 0px;

}

div.foodservice ul.nav li {
    width: 100px;
}

div.foodservice ul.nav li button {

    border-radius: 0%;
    padding: 0px 15px;
    /*margin: 0px 5px;*/
    background-color: #60B49D;
    color: white;

}

div.foodservice ul.nav li a button.activer {

    background-color: dimgrey;
    color: white;

}

button.buttonsetterfoodservice {
    width: 30%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #60B49D;
    display: block;
    margin: auto;
    padding: 0px 1px;
    color: #60B49D;
    text-align: center;
    background-color: white;
}

div.foodservices .nav-tabs .nav-link.active::after {
    content: '';
    background-image: url(../theme/img/arrowdown.png);
    height: 25px;
    position: relative;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    float: left;
    margin-top: 20%;

}

.table th, .table td {
    border-top: none !important;
    font-family: poppins, serif;
}

.table th {
    width: 115px;
    border-left: 2px solid #dee2e6;
}

.table td {
    margin: 40px !important;
}

div.foodservices .nav-tabs .nav-link {
    width: 140px;
    height: 35px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.dragdrop_item {

}

div.consultation .nav-tabs .nav-link.active::after {
    content: '';
    background-image: url(/theme/img/arrowdown.png);
    height: 25px;
    position: relative;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    float: left;
    margin-top: -8%;

}

/*sliders*/
.chatbox {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    z-index: 999;
}

.scheduler {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    z-index: 999;
}

div.profile {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    z-index: 999;
}

div.line {
    border-bottom: 3px solid white;
}

/*home*/

div.home > h1 {
    font-size: 40px;
    display: block;
    margin: auto;
    font-weight: bolder;
}

div.home .carousel-indicators li {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    top: 45px;
    z-index: 999;
    background-color: #60B49D;
    margin: 10px;
}

div.home .carousel-indicators li.active {
    background-color: #4e555b;
}

div.home div#carouselExampleIndicators {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;

}

div.mealcolor {
    color: #848484;
}

main > div.cls {
    margin-top: 32px;
}

.carousel-inner, .carousel-item, div.img {
    height: inherit;
}

.carousel-item > div.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.home a.carousel-control-prev, a.carousel-control-next {
    margin-top: 50px;

}

.home {
    display: block;
}

.top-img-grid {
    position: absolute;
    right: 0;
    top: -80px;
}

.bottom-img-grid {
    position: fixed;
    right: 0;
    bottom: 0px;
}

form div.formchat p {
    font-size: 25px;
    font-weight: bolder;
}

form div.formchat label {
    font-size: 13px;
    color: #6c757d;

}

form div.formchat small {
    color: #6c757d;

}

form div.formchat input {

    border-radius: 2%;
    padding: 3px;
    width: 250px;
}

form div.formchat {

    /*position: absolute;*/
    /*top: 120px;*/
}

div.centeric {
    display: flex;
    justify-content: center;
    align-content: center;
}

img.borderRadiusWhite {
    border-radius: 50%;
    border: 2px solid white;

}

/*modaltest*/

.container.signin-container {
    max-width: 600px;
    margin-top: 8%;
}

.card.signin-card {

    padding: 10px 0px 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px white;
    -webkit-box-shadow: 2px 2px 5px white;
    text-align: center;

}

.card {
    border: none;
}

/*Our Gifts*/

div.gifts ul.nav > li {
    margin-left: 1px !important;
    padding: 0px;

}

div.gifts ul.nav li {
    width: 160px;
}

div.gifts ul.nav li a {
    font-size: 11px;
}

div.gifts ul.nav li button {

    border-radius: 0%;
    padding: 0px 15px;
    /*margin: 0px 5px;*/
    background-color: #60B49D;
    color: white;

}

div.gifts ul.nav li a button.activer {

    background-color: dimgrey;
    color: white;

}

button.buttonsettergifts {
    width: 140px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #60B49D;
    display: block;
    margin: auto;
    padding: 0px 1px;
    color: #60B49D;
    text-align: center;
    background-color: white;
    font-size: 12px;
}

div.gifts .nav-tabs .nav-link.active::after {
    content: '';
    background-image: url(/theme/img/arrowdown.png);
    height: 20px;
    position: relative;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    float: left;
    margin-top: -3%;

}
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
    }
}
div.gifts .nav-tabs .nav-link {
    height: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.bottom-img-gifts {
    position: absolute;
    right: 0;
    bottom: 0;
}

/*gift send slider*/

form.formset input, textarea {
    border-radius: 10%;
}

form.formset label {
    color: #4e555b;
}

form.formset button {
    color: white;
}

.giftchat {

    position: absolute;
    top: 0;
    right: 0;

}

/*weight gainers*/
div.weightmeals {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

div.weightgainers {
    display: flex;
}

div.weightgainers h2 {
    font-size: 40px;
    margin: auto;
}

tr.dailycount {
    font-size: 13px;
    color: #4e555b;
}

div.weight h6, p {
    font-size: 13px;
}

div.weight p {
    font-size: 10px;
}

tr.BreakFast td {
    background-color: #60B49D;
    box-shadow: 0px 2px 4px #888888;
}

tr.Lunch td {
    background-color: #60D483;
    box-shadow: 0px 2px 4px #888888
}

tr.Dinner td {
    background-color: #8DBF1D;
    box-shadow: 0px 2px 4px #888888
}

tr.dailycount td {
    background-color: gray;
    box-shadow: 0px 2px 4px #888888
}

.table tbody tr {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table {
    table-layout: fixed !important;
}

#mealPlans_tray_data .table tbody tr td {
    height: auto;
}

#mealPlans_tray_data .table {
    margin-bottom: 0;
    border-top: 2px solid #dee2e6;
}

#mealPlans_tray_data .table tbody div {
    border-top: 1px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

#mealPlans_tray_data .table tbody div:first-child {
    border-top: none;
}

.mealplan_bottm {
    position: absolute;
    bottom: 0;
}

.mealplan_bottm_edit {
    position: relative;
    bottom: 0%;
}

.btn-primary {
    border: 2px solid #60B49D;
    color: #60B49D !important;
    background-color: white;
}

.btn-primary:hover {
    background-color: #60B49D;
    color: #ffffff !important;
    border: 2px solid #60B49D;
}

.btn-primary:focus {
    background-color: #60B49D;
    color: #ffffff !important;
    border: 2px solid #60B49D;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #60B49D;
    color: #ffffff !important;
    border: 2px solid #60B49D;
}

.btn-primary-white {
    border: 2px solid #60B49D;
    color: #60B49D !important;
    background-color: white;
}

.btn-primary-white:hover {
    background-color: #ffffff;
    color: #60B49D !important;
    border: 2px solid #60B49D;
}

@media (min-width: 992px) {
    .total_amounts tr th {
        width: 500px;
    }
}

.table tbody tr td {
    vertical-align: bottom;
    border: 2px solid #dee2e6;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 140px;

}

.mealplan_left {
    height: 79.5vh;
    overflow-y: scroll;
}

.mealplan_right {
    height: 79.5vh;
    overflow-y: scroll;
}

.delete_item {
    cursor: pointer;
}

.item-name, .item-category {
    font-family: poppins, serif;
}

.font-13 {
    font-size: 13px;
}

.table thead th {
    font-family: poppins, serif;
    border-left: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
}

.bg-green {
    background-color: #60B49D;
}

/*Drag Drop*/
.droppable {
    border: 1px solid red;
    float: left;
    margin-left: 10px;
}

.draggable {
    border: 1px solid green;
    margin: 0;
}

.draggable p {
    margin: 0;
    padding: 0;
}

/**/

/* calendar */

.close-tray {
    position: absolute;
    background: #60B49D;
    width: 25px;
    height: 25px;
    right: 0;
    top: 6%;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}