body {text-align: right;}
[class^="icon-"], [class*=" icon-"] {
    margin-left: 0.4em;
}


[class*="span"] {

     float: right;

     margin-left: 30px;
     min-height: 1px;
}

.table th, .table td {text-align: right;}



